:root {
    --title-color: #41016b;
    --primary-color: #34cb79
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    background: #8aa1a133;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Ubuntu Mono', monospace;
    color: var(--title-color);
}


/* BOX MODEL
    Modelo de Caixa 
    Toda Caixa tem
    Largura, altura, espaçamentos, preenchimentos
    bordas, cor, fundo, maneira que é vista pelo 
    posicionamento, alinhamentos
*/